<section class="game-details">
  <div class="game-imagens">
    <div class="game-imageOne">
      <img src="{{ gameImage1 }}" alt="" />
    </div>
    <div class="game-ImageOther">
      <img src="{{ gameImage2 }}" alt="" />
      <img src="{{ gameImage3 }}" alt="" />
      <img src="{{ gameImage4 }}" alt="" />
    </div>
  </div>
  <div class="game-container">
    <div class="game-resume">
      <h1>DESCRIÇÃO</h1>
      <p>{{ gameDescription }}</p>
    </div>
    <div class="game-category">
      <p class="category">Categoria: {{ gameCategory }}</p>
      <p class="year-old">{{ gameYearOld }}+</p>
    </div>
  </div>
</section>
