.most-played {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section-most {
    display: flex;
    flex-direction: column;
    height: 37.9vw;
    justify-content: center;
}
.section-most h1 {
    font-size: 3vw;
    text-align: center;
}