.notice {
  margin-top: 2vw;
  display: flex;
  gap: 1vw;
  filter: var(--sobreamento);
}

.oneNotice {
  flex: 1;
  display: flex;
  height: 25vw;
  width: 80vw;
}
.oneNotice img {
  object-position: top;
  object-fit: cover;
  width: 100%;
}
.otherNotice {
  overflow-y: auto;
  max-height: 25vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.otherNotice img {
  width: 10vw;
  height: 1;
}

.otherNotice img:hover {
  cursor: pointer;
}

.oneNotice img,
.otherNotice img {
  border-radius: 1vw;
}