<section class="notice">
    <div class="oneNotice">
        <img src="../../../assets/notice/noticeOne.png" alt="">
    </div>
    <div class="otherNotice">
        <img src="../../../assets/notice/noticeTwo.jpg" alt="">
        <img src="../../../assets/notice/noticeThree.jpg" alt="">
        <img src="../../../assets/notice/noticeFour.jpg" alt="">
        <img src="../../../assets/notice/noticeFive.jpg" alt="">
    </div>
</section>

<section class="demos">
    <h1>DEMOS EM DESTAQUE</h1>
    <div></div>
</section>