:root {
  --font-p: "Righteous", sans-serif;
  --background-p: #292c37;
  --header-color: #181a23;
  --color-font: #cccccc;
  --color-search: #6b6b6b;
  --buttons-home: #484848;
  --background-promotion1: #b11623;
  --background-promotion2: #7c060e;
  --background-maisJogados: #9f111a9c;
  --sobreamento: drop-shadow(0vw 2vw 2vw rgba(0, 0, 0, 0.25));
}

body {
  user-select: none;
  font-family: var(--font-p);
  background-color: var(--background-p);
  margin: 0;
  color: var(--color-font);
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.171);
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid rgb(3, 3, 3);
}

.router-content {
  padding: 0 6vw;
}
